<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administrator" />
      <deny users="*" />
      <deny roles="Staff" />
      <deny roles="Program Site Director"/>
    </authorization>
  </system.web>
  <location path="UnauthorizedAccess.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>